@model Models.SearchFilterModel
@{
    const string formId = "SearchCurrencyForm";
}
@{
    Html.BeginForm(
        actionName: "Search",
        controllerName: "Currency",
        routeValues: new
        {
            @area = ""
        },
        method: FormMethod.Get,
        antiforgery: true,
        htmlAttributes: new
        {
            @autocomplete = "off",
            @class = "container",
            @id = formId,
            @name = formId
        }
    );
        <fieldset form="@formId">
            <legend class="fs-1 fw-bold text-capitalize text-center text-decoration-underline">
                Obtener información divisa
            </legend>

            <div class="row">
                <!-- CurrencyType -->
                <div class="col-md-12">
                    <div class="input-group input-group-sm mb-3">
                        @Html.LabelFor(
                            expression: model => model.CurrencyType,
                            htmlAttributes: new
                            {
                                @class = "input-group-text"
                            }
                        )

                        @Html.DropDownListFor(
                            expression: model => model.CurrencyType,
                            selectList: Html.GetEnumSelectList<Enums.currencyTypeEnum>(),
                            htmlAttributes: new
                            {
                                @class = "form-select"
                            }
                        )
                    </div>
                </div>
                
                <!-- Year -->
                <div class="col-md-6">
                    <div class="input-group input-group-sm mb-3">
                        @Html.LabelFor(
                            expression: model => model.Year,
                            htmlAttributes: new
                            {
                                @class = "input-group-text"
                            }
                        )

                        @Html.EditorFor(
                            expression: model => model.Year,
                            additionalViewData: new
                            {
                                htmlAttributes = new
                                {
                                    @autocomplete = "off",
                                    @class = "form-control text-center"
                                }
                            }
                        )
                    </div>

                    @Html.ValidationMessageFor(
                        expression: model => model.Year
                    )
                </div>

                <!-- Month -->
                <div class="col-md-6">
                    <div class="input-group input-group-sm mb-3">
                        @Html.LabelFor(
                            expression: model => model.Month,
                            htmlAttributes: new
                            {
                                @class = "input-group-text"
                            }
                        )

                        @Html.EditorFor(
                            expression: model => model.Month,
                            additionalViewData: new
                            {
                                htmlAttributes = new
                                {
                                    @autocomplete = "off",
                                    @class = "form-control text-center"
                                }
                            }
                        )
                    </div>

                    @Html.ValidationMessageFor(
                        expression: model => model.Month
                    )
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="d-grid gap-2 mb-3">
                        <button class="btn btn-sm btn-primary" form="@formId" title="Enviar" type="submit">
                            Enviar
                        </button>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="d-grid gap-2 mb-3">
                        <button class="btn btn-sm btn-warning" form="@formId" title="Resetear" type="reset">
                            <i class="fa-solid fa-x"></i>
                        </button>
                    </div>
                </div>
            </div>
        </fieldset>
    Html.EndForm();
}